html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: #0c0c0c;
}

.h1, h1 {
	font-size: 1.4em;
}

/**********
 * Header *
 **********/

/**********
 *  Main  *
 **********/

/**********
 *  Shelf *
 **********/

/**********
 *  Book  *
 **********/

.book-thumbnail {
	display: flex;
	color: #999;
	width: 350px;
	height: 150px;
	background: #222;
	padding: 5px;
}

.book-desc ul {
	list-style-type: none;
	padding: 5px 10px;
}

.book-page {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}